/* Write your CSS here! */
body {
	width: 100%;
	max-width: 1024px;
	margin: 8px auto;
    display: block;
	background-color: #40781b;
	font-size: 62.5%;
}
header mainHeading {
    display: block;
    color: red;
    font-size: 2.5em;
    text-align: center;
}

header,
main,
footer {
	background-color: #ffffff;
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

mainHeading, h2, h3 {
	margin: 0;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 1em;
}

p {
	padding: 1.25em;
}

testP funParagraph{
    color: green;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}